<div class="filters-container">

    <div class="d-flex justify-content-between">
        <div class="d-flex mx-4 my-2">
            <div>
                <div class="form-group">
                    <label class="label-title">Keywords</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text white pr-0"><i class="fa fa-search"></i></span>
                        </div>
                        <input type="text" [(ngModel)]="searchInput" class="form-control search-input" placeholder="Search">
                    </div>
                </div>

            </div>
            <div>
                <div class="d-flex flex-column ml-4">
                    <label class="label-title">Category </label>
                    <select class="dropdown-box" [(ngModel)]="selectedCategory">
                        <option value="All">All</option>
                        <option *ngFor="let option of categoryOptions" [ngValue]="option.categoryName"> {{option.categoryName}}</option>
                    </select>
                </div>
            </div>
            <div>
                <div class="d-flex flex-column ml-4">
                    <label class="label-title">Show </label>
                    <select class="dropdown-box" [(ngModel)]="selectedShow">
                        <option value="All">All</option>
                        <option *ngFor="let option of showOptions" [ngValue]="option"> {{option}}</option>
                    </select>
                </div>
            </div>
            <div>
                <div class="d-flex flex-column ml-4">
                    <label class="label-title">Sort By </label>
                    <select class="dropdown-box" [(ngModel)]="selectedSortBy">
                        <option value="All">All</option>
                        <option *ngFor="let option of sortByOptions" [ngValue]="option"> {{option}}</option>
                    </select>
                </div>
            </div>

            <div class="d-flex ml-2 align-self-center">
                <a class="btn reset-btn" (click)="reset()"> <i class="fas fa-undo"></i> &nbsp; Reset</a>
            </div>

        </div>

        <div class="px-2 py-3">
            <a class="m-2 btn add-btn" (click)="openModal()">+ Question</a>
        </div>

    </div>
</div>

<app-question [(searchInput)]="searchInput" [(selectedCategory)]="selectedCategory" 
              [(selectedShow)]="selectedShow" [(selectedSortBy)]="selectedSortBy">
</app-question>



